<!-- templates/registration/login.html -->

{% extends '../base.html' %}
{% load static %}

{% block title %}Password{% endblock title %}



{% block body %}

<main>
    
    
    {% if user.is_authenticated %}


        <h2 class="form-title">Password Change</h2>

        <div class="instruction">
            <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        </div>


        <form action="" method="post" class="django-form password">
        
            {% csrf_token %}
            {{ form.as_p }}
                
            <input type="submit" value="Change my password">
    
        </form>
        
        
        {% else %}
        

        <h2 class="form-title">Password Reset</h2>
        <div class="instruction">
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

        </div>


        <form action="" method="post" class="django-form password">
        
            {% csrf_token %}
            {{ form.as_p }}
    
        <input type="submit" value="Reset my password">
    
        </form>
        





    {% endif %}

    </main>



{% endblock body %}


    

            {% comment %} <label for="username">Email Address</label>
            <input type="text" id="username">
            <label for="password">Password</label>
            <input type="password" id="password"> {% endcomment %}